<h2>Template: Básico</h2>

<hr />

<div class="row">
    <div class="col">
        <form>
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Producto</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="Nombre Producto">
                    <span class="form-text text-danger">Debe de ser de 3 dígitos</span>
                </div>
            </div>

            
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Precio</label>
                <div class="col-sm-9">
                    <input type="number" class="form-control" placeholder="Precio Producto">
                    
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Existencia</label>
                <div class="col-sm-9">
                    <input type="number" class="form-control" placeholder="Existencia Producto">
                    
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary float-end">
                        Guardar
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>