<h2>Template: Básico</h2>

<hr />

<div class="row">
    <div class="col">
        <form (ngSubmit)="guardar()" #formularioBasico="ngForm" autocomplete="off">
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Producto</label>
                <div class="col-sm-9">
                    <input type="text" ngModel name="producto" required class="form-control"
                        placeholder="Nombre Producto" minlength="3">
                    <span class="form-text text-danger" *ngIf="nombreValido()">
                        Debe de ser de 3 dígitos
                    </span>
                </div>
            </div>


            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Precio</label>
                <div class="col-sm-9">
                    <input type="number" ngModel name="precio" class="form-control" placeholder="Precio Producto"
                        required min="0">
                    <span class="form-text text-danger" *ngIf="precioValido()">
                        El precio debe ser mayor igual a 0
                    </span>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Existencia</label>
                <div class="col-sm-9">
                    <input type="number" ngModel name="existencia" class="form-control" customMin [minimo]="0"
                        placeholder="Existencia Producto" required>

                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary float-end">
                        Guardar
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>

<div class="row">
    <div class="col">
        <span>Valid</span>
        <pre> {{ formularioBasico.valid }} </pre>

        <span>Pristine</span>
        <pre> {{ formularioBasico.pristine }} </pre>

        <span>Touched</span>
        <pre> {{ formularioBasico.touched }} </pre>

        <span>Value</span>
        <pre> {{ formularioBasico.value | json }} </pre>

        <hr />

        <span>CustomDirective</span>
        <div *ngIf="formularioBasico.controls['existencia']">
            <pre>{{formularioBasico.controls['existencia'].errors  | json}}</pre>
        </div>

    </div>
</div>