<h2>Reactivo <small>Switches</small> </h2>
<br />

<form >

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label"> Género </label>
        <div class="col-sm-9">
            <div class="form-check">
                <input class="form-check-input" type="radio" value="M" name="rdoGenero"
                    id="masculino" >
                <label class="form-check-label" for="masculino">
                    Masculino
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" value="F" name="rdoGenero"
                    id="femenino" >
                <label class="form-check-label" for="femenino">
                    Femenino
                </label>
            </div>

        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label"> Notificaciones </label>
        <div class="col-sm-9 mt-2">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" name="notificacion"
                    role="switch" id="stchNotificacion">
                <label class="form-check-label" for="stchNotificacion">Recibi notificaciones</label>
            </div>
        </div>
    </div>


    <div class="row mb-3">
        <label class="col-sm-3 col-form-label"> </label>
        <div class="col-sm-9">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="terminos" id="chkTerminos"
                    >
                <label class="form-check-label" for="chkTerminos">
                    Términos y Condiciones
                </label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end">
                Guardar
            </button>
        </div>
    </div>
</form>

<!--
<div>
    <h5>Valor Formulario</h5>
    <pre>{{miFormulario.value | json}}</pre>

    <br>

    <h5>Persona</h5>
    <pre>{{persona | json}}</pre>

    <hr />
    <h5>Valid</h5>
    <pre>{{miFormulario.valid}}</pre>

    <hr />
    <h5>Condiciones</h5>
    <pre *ngIf="miFormulario.controls['terminos']">{{ miFormulario.controls['terminos'].errors | json}}</pre>
</div>
-->