<h2>Reactivo <small>Dinámicos</small> </h2>
<hr />

<form autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="guardar()">
    <div class="mb-3 row">
        <label class="col-sm-3 form-label"> Nombre </label>
        <div class="col-sm-9">
            <input type="text" class="form-control"
            formControlName="nombre"
                placeholder="Nombre de la persona">
            <span class="form-text text-danger" *ngIf="controlsError('nombre')">
                Este campo es obligatorio y mayor igual a 3 digitos
            </span>
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-3 form-label"> Agregar </label>
        <div class="col-sm-9">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Agregar favorito" 
                     (keyup.enter)="1">
                <button class="btn btn-outline-primary" type="button" (click)="1">
                    Agregar
                </button>
            </div>
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-3 form-label"> Favoritos </label>
        <!--
        <div class="col-sm-9">
            <div class="input-group  mb-1" *ngFor="let favorito of persona.favoritos; let i = index">
                <input class="form-control" >
                <button class="btn btn-outline-danger" type="button" (click)="1">
                    Borrar
                </button>
            </div>
        </div>
    -->
    </div>

    <div class="row">
        <div class="col-sm-12 ">
            <button class="btn btn-primary float-end" >
                Guardar
            </button>
        </div>
    </div>
</form>
<!--
<div class="row">
    <div class="col">
        <span>Persona</span>
        <pre>{{persona | json}}</pre>
    </div>
</div>
-->